doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Kuantu
        link(rel="stylesheet", href="./styles/index.scss")
    body 
        header.main-header
            .main-header__logo 
                .logo
                    img.logo__img(src="./assests/logo.jpg", alt="")
                    each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        div(class=("logo__rect logo__rect_" + val))
            .main-header__content 
                .content
                    .content__title Team of Fire
                    .content__subtitle The GameDeveloper`s Team
